@keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .typing-animation {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(40, end);
    
  }
 